  /* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$desktop-width: 700px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

$font-stack: "proxima-nova",sans-serif;
$primary-color: #222228;
$text-align:left;

body {
  font: 100% $font-stack;
  color: $primary-color;
  text-align: $text-align;
  background-color: #fff;
}

a:link {
  color: #03B779;
  opacity: 1;
  text-decoration: none;
}
a:visited {
  color: #03B779;
  opacity: 1;
  text-decoration: none;
}
a:hover {
  color: #03B779;
  opacity: 0.6;
  text-decoration: none;
}
a:active {
  color: #03B779;
  opacity: 1;
  text-decoration: none;
}

.h1 {
  font-family: "freight-text-pro",sans-serif;
	font-size: 1.2em;
	font-weight: 400; 
	margin-bottom: 24px;

  	@include desktop {
    font-size: 2em;
    margin-bottom: 18px;
  }
}
.h2 {
	font-size: 1em;
	font-weight: 400; 

	@include desktop {
    font-size: 1em;
  }
}
.hero {
  width: 90%;
  margin-bottom: 20px;
}
.links {
  width: 80%;
  margin-bottom: 40px;
 
}
.name {
  font-family: "proxima-nova",sans-serif;
  font-weight: 700;
  font-size: 1.3em;
}
.nav {
  width: 100%;
  margin-bottom: 40px;
}
.p{
	font-size: 1em;
	font-weight: 400;
	line-height: 1.7em;
	padding-bottom: 8px;

  	@include desktop {
    font-size: 1.6em;
  }
}	
.project {
  width: 100%;
  margin-top: 20px;
}
.projects {
  border-top: 1px solid #e5e5e5;
  width: 80%;
  padding-top: 20px;
  
}
.sitewrapper {
	width: 70%;
	max-width: 900px;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 40px;

  @include desktop {
    padding-top: 80px;
  }
}
.strike {
  text-decoration: line-through;
  color: #e5e5e5;
}