html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #f9f9f9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Website starts here!
*/
a:link {color:#777;}    
a:visited {color:#777;} 
a:hover {color:#555;}   
a:active {color:#777;}

.endnote { 
 	width: 640px;
 	padding-top: 36px;
 	padding-bottom: 26px;
 	margin: auto;
 	text-align: let;
}
.h1 {
	font-family: "proxima-nova";
	font-weight: 800; 
	color:#333333;
	font-size: 30px;
	line-height: 2.5;
	text-align: left;
}
.h2 {
	font-family: "proxima-nova";
	font-weight: 400; 
	color:#999999;
	font-size: 12px;
}
li {
	font-family: "proxima-nova",sans-serif;
	font-weight: 400; 
	display:inline;
	margin-right: 10px;
	font-size: 16px;
}
li:last-child {
  margin-right: 0;
}
.linkwrapper {
	text-align: left;
	margin: auto;
	padding-top: 28px;
}
.p{
	font-family: "proxima-nova",sans-serif;
	font-weight: 400;
	font-size: 1.1em;
	color:#444444;
	line-height: 1.8;
}	
.sitewrapper {
	max-width: 500px;
	min-width: 320px;
	width: 52%;
	margin: auto;
	padding-top: 80px;
	text-align: left;
}

