/*
Skin Name: Doom Theme
Description: Theme for my portfolio.
Version: 1.0
Author: Vincent Iadevaia
Author URI: http://vincentvondoom.com
Support Thumbs: true
*/

.theme-doom .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    border:1px solid #999999;
    /*-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;*/
    /*-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;*/
    /*box-shadow: 0px 1px 5px 0px #4a4a4a;*/
}
.theme-doom .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-oom .nivoSlider a {
	border:0;
	display:block;
}

.theme-doom .nivo-controlNav {
	text-align: center;
	padding: 10px 0;
}
.theme-doom .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(bullets2.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-doom .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-doom .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows3.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-doom:hover .nivo-directionNav a { opacity: 1; }
.theme-doom a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-doom a.nivo-prevNav {
	left:15px;
}

.theme-doom .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-doom .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-doom .nivo-caption a:hover {
    color:#fff;
}

.theme-doom .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-doom .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-doom .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}