 /* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'FoundersGroteskWeb-Semibold';
  src: url("../klim/FoundersGroteskWeb-Semibold.woff") format("woff"), url("../klim/FoundersGroteskWeb-Semibold.eot") format("eot");
}
/* line 38, ../sass/screen.scss */
body {
  font: 100% "freight-text-pro", Georgia, serif;
  color: #222228;
  text-align: left;
  background-color: #fff;
}

/* line 45, ../sass/screen.scss */
a:link {
  color: #FF5B60;
  opacity: 1;
  text-decoration: none;
}

/* line 50, ../sass/screen.scss */
a:visited {
  color: #FF5B60;
  opacity: 1;
  text-decoration: none;
}

/* line 55, ../sass/screen.scss */
a:hover {
  color: #FF5B60;
  opacity: 0.6;
  text-decoration: none;
}

/* line 60, ../sass/screen.scss */
a:active {
  color: #FF5B60;
  opacity: 1;
  text-decoration: none;
}

/* line 65, ../sass/screen.scss */
.contentwrapper {
  width: 300px;
}
@media (min-width: 600px) {
  /* line 65, ../sass/screen.scss */
  .contentwrapper {
    width: 760px;
  }
}

/* line 72, ../sass/screen.scss */
.h1 {
  font-family: "FoundersGroteskWeb-Semibold";
  font-size: 3em;
  line-height: 1.1;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
@media (min-width: 600px) {
  /* line 72, ../sass/screen.scss */
  .h1 {
    line-height: 1.2;
  }
}

/* line 83, ../sass/screen.scss */
.nav {
  width: 100%;
  margin-bottom: 40px;
}

/* line 87, ../sass/screen.scss */
.p {
  font-family: "freight-text-pro", Georgia, serif;
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 1.4;
}
@media (min-width: 600px) {
  /* line 87, ../sass/screen.scss */
  .p {
    font-size: 1.4em;
    margin-bottom: 18px;
  }
}

/* line 99, ../sass/screen.scss */
.sitewrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
